@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    background-color: var(--main-color);
}
:root{
    --text-color: #2C4E80;
    --snd-color: #00215E;
    --bg-color: #FFC55A;
    --main-color: #FC4100;
}
h1{
    text-align: center;
    color: var(--text-color);
    font-size: 60px;
    font-weight: 600;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.choice:hover{
    cursor: pointer;
    background-color: var(--snd-color);
    opacity: 1px var(--snd-color);
    content: "";
    box-shadow: 5px 4px 3px var(--text-color);
    transform: translate(-3px);
    transition: all 0.4s ease-out;
}

.msg-container{
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

#msg{
    height: 6rem;
    width: 8.1rem;
    border-radius: 10px;
    background-color: var(--snd-color);
    color: var(--bg-color);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
}