@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
:root{
    --main-color: #2C4E80;
    --bg-color: #00215E;
    --snd-color: #FFC55A;
    --text-color: #FC4100;
}

.choices{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}